@model LogBook.Models.LogPostViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Questions</th>
            <th>CreateTime</th>
            <th>Note</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    <table>
                        <thead>
                            <tr>
                             
                            </tr>
                        </thead>
                        @foreach (var answer in item.QuestionList)
                        {
                            <tr>
                                <td><h3>@answer.Question</h3></td>
                                <td>@answer.Answer</td>
                            </tr>
                        }
                    </table>
                </td>
                <td>@item.CreateTime</td>
                <td>@item.Note</td>
                <td>
                    @foreach (var tag in item.GetTags())
                    {
                        <span> @tag.Name </span><span>;</span>
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    </tbody>
</table>
