@model LogBook.Models.LogPostViewModel
@using  Humanizer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>CreateTime</th>
            <th>Note</th>
            <th>Questions</th>

            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>@item.CreateTime.Humanize()</td>
                <td>@item.Note</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        @foreach (var qa in item.QAList)
                        {
                            <tr>
                                <td><h5>@qa.Key.Question</h5></td>
                                <!--td>@qa.Value.ToString()</td-->
                            <td>
                                @if (qa.Value.Score != null)
                                {
                                   @qa.Key.MinScore <input type="range" min=@qa.Key.MinScore max=@qa.Key.MaxScore value=@qa.Value.Score disabled="disabled" /> @qa.Key.MaxScore
                                }
                                else
                                {
                                    @qa.Value.ToString()
                                }
                            </td>
                            </tr>
                        }
                    </table>
                </td>

                <td>
                    @foreach (var tag in item.GetTags())
                    {
                        <span> @tag.Name</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
